In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 讀入資料(Poker Hand)
### 隨機拿到999999份數據

In [2]:
#牌的花色按照1234依序為「愛心」、「黑桃」、「菱形」、「梅花」
#牌的類型按照0123456789依序為「亂牌」、「一對」、「兩對」、「三條」、「順子」、「同花」、「葫蘆」、「鐵支」、「同花順」、「皇家同花順」
#皇家同花順:10、J、Q、K、A五張同花色

In [3]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data")

In [4]:
df.head()

   1  1.1  1.2  13  2   4  2.1   3  1.3  12  0
0  3   12    3   2  3  11    4   5    2   5  1
1  1    9    4   6  1   4    3   2    3   9  1
2  1    4    3  13  2  13    2   1    3   6  1
3  3   10    2   7  1   2    2  11    4   9  0
4  1    3    4   5  3   4    1  12    4   6  0

# 整理資料

In [5]:
df.columns=list(["第1張牌的花色","第1張牌的數字","第2張牌的花色","第2張牌的數字","第3張牌的花色","第3張牌的數字","第4張牌的花色","第4張牌的數字","第5張牌的花色","第5張牌的數字","類型"])

In [6]:
df.index=range(1,len(df)+1)

In [7]:
df.head()

,第1張牌的花色,第1張牌的數字,第2張牌的花色,第2張牌的數字,第3張牌的花色,第3張牌的數字,第4張牌的花色,第4張牌的數字,第5張牌的花色,第5張牌的數字,類型
1,3,12,3,2,3,11,4,5,2,5,1
2,1,9,4,6,1,4,3,2,3,9,1
3,1,4,3,13,2,13,2,1,3,6,1
4,3,10,2,7,1,2,2,11,4,9,0
5,1,3,4,5,3,4,1,12,4,6,0

In [8]:
df.tail()

,第1張牌的花色,第1張牌的數字,第2張牌的花色,第2張牌的數字,第3張牌的花色,第3張牌的數字,第4張牌的花色,第4張牌的數字,第5張牌的花色,第5張牌的數字,類型
999995,3,1,1,12,2,9,4,9,2,6,1
999996,3,3,4,5,2,7,1,4,4,3,1
999997,1,11,4,7,3,9,1,13,2,7,1
999998,3,11,1,8,1,1,3,13,2,8,1
999999,2,5,2,9,4,9,2,3,3,3,2

# 依照類型來看

In [9]:
df2=df.sort_values(by="類型",ascending=False)

In [10]:
df2[:20]

,第1張牌的花色,第1張牌的數字,第2張牌的花色,第2張牌的數字,第3張牌的花色,第3張牌的數字,第4張牌的花色,第4張牌的數字,第5張牌的花色,第5張牌的數字,類型
61843,4,12,4,1,4,13,4,11,4,10,9
289231,2,10,2,11,2,13,2,1,2,12,9
944522,4,1,4,11,4,10,4,12,4,13,9
970098,1,8,1,7,1,9,1,5,1,6,8
197593,3,4,3,5,3,3,3,1,3,2,8
280632,2,7,2,6,2,4,2,5,2,8,8
128993,2,10,2,11,2,9,2,7,2,8,8
27553,4,5,4,4,4,8,4,6,4,7,8
951421,1,7,1,3,1,6,1,5,1,4,8
388599,2,8,2,7,2,5,2,6,2,4,8
388802,4,11,4,7,4,9,4,10,4,8,8
616201,1,8,1,7,1,11,1,10,1,9,8
509065,2,12,2,11,2,13,2,9,2,10,8
991931,4,10,4,12,4,9,4,11,4,13,8
795038,3,13,3,11,3,12,3,10,3,9,8
436959,3,13,4,13,2,13,1,13,3,3,7
907996,3,3,1,4,2,3,1,3,4,3,7
366355,2,2,1,4,3,4,2,4,4,4,7
291300,1,11,3,4,1,4,4,4,2,4,7
604267,2,13,2,1,3,1,1,1,4,1,7

## !!!目前不清楚怎麼修改裡面的數據(數字轉換中文)!!!

# 查詢牌型情報

In [11]:
overall=len(df2)
nothing_in_hand=len(df2[df2.類型==0].index)/overall*100
one_pair=len(df2[df2.類型==1].index)/overall*100
two_pairs=len(df2[df2.類型==2].index)/overall*100
three_of_a_kind=len(df2[df2.類型==3].index)/overall*100
straight=len(df2[df2.類型==4].index)/overall*100
flush=len(df2[df2.類型==5].index)/overall*100
full_house=len(df2[df2.類型==6].index)/overall*100
four_of_a_kind=len(df2[df2.類型==7].index)/overall*100
straight_flush=len(df2[df2.類型==8].index)/overall*100
royal_flush=len(df2[df2.類型==9].index)/overall*100

In [12]:
information=input("請輸入你想得知某種牌型的情報→")
if information=="亂牌":
    print(f"拿到的機率佔{nothing_in_hand}%")
elif information=="一對":
    print(f"拿到的機率佔{one_pair}%")
elif information=="兩對":
    print(f"拿到的機率佔{two_pairs}%")
elif information=="三條":
    print(f"拿到的機率佔{three_of_a_kind}%")
elif information=="順子":
    print(f"拿到的機率佔{straight}%")
elif information=="同花":
    print(f"拿到的機率佔{flush}%")
elif information=="葫蘆":
    print(f"拿到的機率佔{full_house}%")
elif information=="鐵支":
    print(f"拿到的機率佔{four_of_a_kind}%")
elif information=="同花順":
    print(f"拿到的機率佔{straight_flush}%")
elif information=="皇家同花順":
    print(f"拿到的機率佔{royal_flush}%")
else:
    print("很抱歉，並無此情報。")

請輸入你想得知某種牌型的情報→皇家同花順
拿到的機率佔0.0003000003000003%